GitHub/omsktec/static/data/assistance/Мониторинг[[:space:]][[:space:]]выпускников[[:space:]]2022г..xlsx filter=lfs diff=lfs merge=lfs -text
GitHub/omsktec/static/img/student-professionalitet/Профессионалитет[[:space:]]Видео.mp4 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
